@import "/usr/share/sway/templates/waybar/style.css";

window#waybar{
  background: alpha(@theme_bg_color,.6);
  color: alpha(@wm_icon_bg,.6);
}

#workspaces button {
  color: alpha(@theme_selected_bg_color,1.5);
  transition: all .2s ease;
}
#workspaces button:hover { transition: all 1s ease; }

#custom-nerd-dication,
#custom-waybar_timer {
    padding-left: 10px;
    padding-right: 10px;
}
